<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field field--text">
    <%= f.email_field :email, :autofocus => true, class:"form-control", placeholder:"Email", required:"required", size:"30", tabindex:"1", type:"email_field" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="field field--text">
    <%= f.text_field :name, :autofocus => true, class:"form-control", placeholder:"Nom d'utilisateur", required:"required", size:"30", tabindex:"2", type:"text" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="field field--text">
    <%= f.password_field :password, :autofocus => true, class:"form-control", placeholder:"Mot de passe", required:"required", size:"30", tabindex:"3", type:"password" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="field field--text">
    <%= f.password_field :password_confirmation, :autofocus => true, class:"form-control", placeholder:"Confirmation du mot de passe", required:"required", size:"30", tabindex:"4", type:"password" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="grid-row">
    <%= f.submit "Sign up", class:"button button--fill-space button--large", value:"C'est parti!" %>
    <div class="grid-col-12 grid-col--no-padding grid-col--extra-margin-bottom">
      <small>
        En vous inscrivant, vous acceptez nos
        <a href="/terms">Conditions d'utilisation</a>
      </small>
    </div>
  </div>
<% end %>