<main >
  <article class="fit-fixed">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="grid-row grid-row--no-collapse color-scheme--white" exclude="phone">
          <div class="grid-col-6">
            <h3>S'enregistrer avec</h3>
          </div>
          <div class="grid-col-6 grid-col--align-right">
            Avez-vous déjà un compte ?
            <%= render "devise/shared/links" %>
          </div>
        </div>

        <div class="grid-row">
          <div class="grid-col-12 grid-col--no-margin grid-col--no-padding">
            <hr class="no-margin">
          </div>
        </div>

        <div class="grid-row color-scheme--white">
          <div class="grid-col-6">
              <h5 class="js-oauth-title">Inscrivez-vous avec :</h5>
              <div exclude="tablet desktop">
                <a href="/auth/facebook?locale=fr&amp;signin=false" class="button button--facebook button--blue button--large button--alternate button--icon-only button--oauth button--left-align button--with-icon " data-confirm="null" id=""><span class="new-cc-icon icon--">facebook</span></a>
              </div>
              <div exclude="phone" class="js-oauth-buttons">
                <a href="/auth/facebook?locale=fr&amp;signin=false" class="button button--facebook button--blue button--large button--alternate button--fill-space button--oauth button--left-align button--with-icon " data-confirm="null" id=""><span class="new-cc-icon icon--">facebook</span>Facebook</a>
              </div>
            </div>
            <div class="grid-col-6">
              <h5>Ou s'enregistrer avec votre email:</h5>
              <div id='flash_messages'></div>
            <%= render 'devise/registrations/new'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>