<main >
<article class="fit-full color-scheme--grey">
  <article class="fit-fixed">
    <div class="grid-row">
      <div class="grid-col-6 grid-col--center grid-col--align-center grid-col--extra-margin-top">
        <div class="avatar avatar--large">
          <img alt="63cc1cc1a81350eddddff25a41d564d9?d=retro&amp;s=140" src="/assets/babydragon.png" />
        </div>
        <p>
          <h3>
            Bienvenue <%= current_user.name %> !
          </h3>

          <h4>
            Tu n'es encore qu'un bébé <strong>dragon Nadder</strong>, il faut lire pour grandir ! 
          </h4>
          <h5>
            Prochaine étape dans 100 points ! 
          </h5>
        </p>
      </div>
    </div>
  </article>
</article>

<article class="fit-full color-scheme--white">
  <div class="fit-fixed">
    <div class="grid-row">
      <div class="grid-col-12 grid-col--center">
        <div class="grid-row">
          <div class="color-scheme--white columns">
            <div class="fit-fixed grid-row">
              <article class="grid-col-4 grid-col--align-center grid-col--no-margin column column--link link-area">
                <article class="grid-col-12 grid-col--align-center">
                  <h3><%= count_stories(current_user) %></h3>
                </article>
                <article class="grid-col-12 grid-col--align-center">
                  <p>Histoires lues</p>
                </article>
                <a href="/mystories" class="link--target"></a>
              </article>
              <article class="grid-col-4 grid-col--align-center grid-col--no-margin column column--link link-area">
                <article class="grid-col-12 grid-col--align-center">
                  <h3><%= current_user.words.count %></h3>
                </article>
                <article class="grid-col-12 grid-col--align-center">
                  <p>Mots dans ton vocabulaire</p>
                </article>
                <a href="/words" class="link--target"></a>
              </article>
              <article class="grid-col-4 grid-col--align-center grid-col--no-margin column">
                <article class="grid-col-12 grid-col--align-center">
                  <h3>0</h3>
                </article>
                <article class="grid-col-12 grid-col--align-center">
                  <p><span class="translation_missing" title="translation missing: fr.views.profile.groups">Note moyenne</span></p>
                  <a href="/answers" class="link--target"></a>
                </article>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="fit-full color-scheme--darkgrey">
  <div class="fit-fixed">
    <div class="grid-row profile-time">
      <div class="grid-col-3 grid-col--align-center grid-col--no-margin">
        <small>
          <small class="text--ellipsis">Rejoint le <%= current_user.created_at.to_s %></small>
        </small>
      </div>
      <div class="grid-col-3 grid-col--align-center grid-col--no-margin">
        <h3 class="padding-right--quarter"><%= count_read_words(current_user) %></h3>
        <small>mots lus au total</small>
      </div>
      <div class="grid-col-3 grid-col--align-center grid-col--no-margin">
        <h3 class="padding-right--quarter"><%= daily_activity(current_user) %></h3>
        <small>jours d&#x27;affilée</small>
      </div>
      <div class="grid-col-3 grid-col--align-center grid-col--no-margin">
          <small>Dernière lecture il y a <%= last_read(current_user) %></small>
      </div>
    </div>
  </div>
</article>

<article class="fit-full color-scheme--lightgrey padding-top--2 padding-bottom--5">
  <article class="fit-fixed">
    <div class="grid-row">
      <div class="grid-col-12 grid-col--align-center">
        <h3>Dernières lectures <p class="inline"><%= current_user.libraries.count %></p></h3>
      </div>

      <% current_user.libraries.order("created_at DESC").each do |library| %>
        <div class="grid-col-4 color-scheme--white grid-col--no-padding">
          <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding ">
            <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--no-margin card-header ">
              <h1 class="margin-top--3">
                <span class="cc-symbol icon--large"><%= image_tag Story.find(library.story_id).image.url(:thumb) %></span>
              </h1>
            </div>
            <div class="grid-col-12 grid-col--align-center">
              <h3 class="text--ellipsis"><%= Story.find(library.story_id).description %> </h3>
              <p class="content-card__description">
                <%= Story.find(library.story_id).content.truncate(100) %>
              </p>
              <br>
              <div class="last-progress">
                <small class="text--ellipsis"><span class="translation_missing" title="translation missing: fr.views.dashboard.last_progress">Lue il y a</span> <%= last_read_story(current_user, Story.find(library.story_id)) %></small>
              </div>
            </div>
            <div class="grid-col-12 grid-col--align-center grid-col--no-margin grid-col--no-padding">
              <hr class="no-margin">
            </div>
            <div class="grid-col-12 grid-col--align-center">
              <div class="progress">
                <div class="progress__indicator">66%</div>
                <div class="progress__bar">
                  <div class="progress__bar__complete" style=width:66%></div>
                </div>
              </div>
            </div>
            <a href="/stories/<%=Story.find(library.story_id).id%>" class="link--target"></a>
          </article>
        </div>
      <% end %>
        
    </div>
  </article>
</article>


</main>
