<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div id="stories" class="transitions-enabled">
  <% current_user.stories.each do |story| %>
    <div class="box panel panel-default" style="margin-top: 200px;">
      <%= link_to story do %>
        <%= image_tag story.image.url(:medium) %>
      <% end %>
      <div class="panel-body">
        <p><%= story.description %></p>
        <p><strong><%= story.editor %></strong></p>
      </div>
    </div>
  <% end %>  
</div>

<div class="center">
  <%= will_paginate @stories, renderer: BootstrapPagination::Rails %>
</div>
