<main >
  <article class="fit-full">
    <div class="fit-fixed grid-row">
      <div class="grid-col-8 grid-col--align-center grid-col--center">
        <div class="grid-row">
          <h2 class="grid-col-12">
            Mot de passe oublié?
          </h2>
        </div>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="grid-row">
            <div id='flash_messages'></div>
            <div class="grid-col-10 grid-col--center grid-col--no-padding grid-col--no-margin">
              <div class="field field--text">
                <%= f.email_field :email, placeholder:"Email du compte", required:"required", size:"30", type:"text" %>
                <div class="field__status-icon"></div>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-10 grid-col--center grid-col--no-padding grid-col--no-margin">
              <%= f.submit "Reset password", class:"button button--fill-space button--large ", value:"Reset password" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </article>
</main>