<%= form_for(@age_category) do |f| %>
  <% if @age_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@age_category.errors.count, "error") %> prohibited this age_category from being saved:</h2>

      <ul>
      <% @age_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.submit %>
  </div>
<% end %>
