<h1>Listing age_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @age_categories.each do |age_category| %>
      <tr>
        <td><%= age_category.name %></td>
        <td><%= link_to 'Show', age_category %></td>
        <td><%= link_to 'Edit', edit_age_category_path(age_category) %></td>
        <td><%= link_to 'Destroy', age_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Age category', new_age_category_path %>
