<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @age_category.name %>
</p>

<%= link_to 'Edit', edit_age_category_path(@age_category) %> |
<%= link_to 'Back', age_categories_path %>
