<main >
<article class="fit-full color-scheme--grey top-section">
  <article class="fit-fixed">
    <div class="grid-row padding-top--3">
      <div class="grid-col-12 grid-col--center grid-col--align-center">
        <h1>Lire est un jeu.</h1>
        <h2>Les meilleurs livres pour enfants avec des quizzs pour valider leurs acquis, et leur faire découvrir la science.</h2>
      </div>
    </div>
    <div class="grid-row padding-top--3 grid-row-no-collapse">
      <div class="grid-col-8 grid-col--no-padding screen-col" >
        <script type="text/javascript" src="/assets/Quizz.js"></script>
        <body onload="javascript:(function(){ cb = function(){ create_spritz(); }; var script=document.createElement('SCRIPT');script.src='/assets/OpenSpritzLanding.js?callback=cb'; script.onload=cb; document.body.appendChild(script);})();">
        <div class="row">
          <div class="col-md-offset-0 col-md-12">
            <div class="panel panel-default">
              <!-- <div class="panel-heading center">
                <%# "Un poule tous, et tous poule un!" %>
              </div> -->
              <div class="panel-body"></div>
                <div class="grid-row padding-top--0 grid-row-no-collapse">
                  <div class="grid-col-12 grid-col--no-padding screen-col">
                    <div id="guide_top">
                      ――――<span id="notch">&#1092;</span>――――
                    </div>
                    <div id="spritz_result"></div>
                    <div id="guide_bottom">―――――――――</div>
                  </div>
                </div>
              </div>

              <div class="panel-footer">
                <div class="grid-row padding-left--1 grid-row-no-collapse">
                  <div class="grid-col-3 grid-col--no-padding screen-col">
                    <i class="fa fa-pause" id="spritz_toggle"></i>
                    <p style="margin-left: 25%;" id="spritz_length">Durée <span>5.6</span> min</p>
                  </div>
                  <div class="grid-col-6 grid-col--no-padding screen-col">
                    <div id='drag_div'><input id='dragpadd' type="range" name="test" min="0" max="800" value="0" step='0.5'/></div>
                  </div>
                  <div class="grid-col-3 grid-col--no-padding screen-col">
                    <select id="spritz_selector">
                      <option value="25">Lente</option>
                      <option value="50">Normale</option>
                      <option value="75">Rapide</option>
                      <option value="100">Très rapide</option>
                    </select>
                  </div>
                </div>
              </div>

              <div id='def_div'></div>
              <div id="outerQuizContainer">
                <div id="innerQuizContainer">
                  <div style="text-align:center;margin-top:19px">
                    <div onClick="beginQuiz(this);" class="normalButton" style="padding:8px 20px 8px 20px; display:inline;">Commencer le Quizz</div>
                  </div>
                  <div id="totalScore">Score Total</div>
                  <div id="questionPanel" style="display:none;">
                    <div id="proceeding">Question</div>
                    <div id="totalCorrectAnswers"></div>
                    <div id="questionTitle">Question</div>
                    <div id="optiona" onClick="selectAnswer(this,'a')" class="unselected">Option a</div>
                    <div id="optionb" onClick="selectAnswer(this,'b')" class="unselected">Option b</div>
                    <div id="optionc" onClick="selectAnswer(this,'c')" class="unselected">Option c</div>
                    <div id="optiond" onClick="selectAnswer(this,'d')" class="unselected">Option d</div>
                  </div>                     
                  <div style="text-align:right;margin:30px 0px 10px 0px;">
                    <div class="statusMessage"style="color:green" id="correctMessage">Hourra c'est correct !</div>
                    <div class="statusMessage"style="color:#F72362" id="wrongMessage">Oops tu as mal répondu...</div>
                    <div id="flipQuestion" class="normalButton" style="padding:3px 20px 3px 20px; display:none;">Prochaine Question</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="hidden" id="text_content">
          <%= "A la ferme, c'est l'heure de la tonte. Sous les rires moqueurs des petites poules, les bergers du roi taillent à grands coups de cisailles l'épaisse toison des moutons, en chantant à tue-tête :

          « Il faut qu'un mouton, un mouton soit tondu.
          Approche, mon mignon, tu es le bienvenu.
          Encore un mouton, un mouton de tondu,
          la la qu'il est moche, maintenant qu'il est tout nu. »

          C'est au tour de Bélino, le petit bélier.
          Non ! Je ne veux pas y aller ! Je refuse qu'on me prenne la laine sur le dos !
          Pas question pour Carmen et Carmélito d'abandonner leur copain en si fâcheuse posture.
          Psitt ! Bélino ! Par ici ! Vite !
          A peine sorti de l'enclos, le petit bélier détale comme un lapin.
          Attends-nous ! Lui crie Carmen." %>
        </div>
        <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
        <script src="https://spreadsheets.google.com/feeds/list/0AnVUO3dJi1psdHQxV2YwMm1Xa3dmSHFkcThzbk82Ync/od6/public/values?alt=json-in-script&callback=getReply"></script>
      </div>

    <div class="grid-col-4" id="home__cta" style="padding:0px;">
      <div class='grid-row grid-row--no-collapse'>
        <%= image_tag "poulescover1.jpg", width: "100%" %>
      </div>
    </div>
    <div class="grid-row fit-full" exclude="phone">
      <div class="grid-col-12 fit-fixed grid-col-12 grid-col--center grid-col--align-center grid-col--no-padding">
        <a href="/books" class="scroll_button">
          Voir plus d'histoires<br>
        </a>
      </div>
    </div>
  </article>
</article>

<div class="color-scheme--white learn-more" exclude="phone">
  <div class="fit-fixed grid-row margin-bottom--3 margin-top--3 padding-top--3 padding-bottom--3 grid-row-no-collapse">
    <div class="grid-col-4 padding-top--5 grid-col--align-right">
      <h2>Comment ces lectures aident vos enfants ?</h2>
      <p>Découvrez comment Anna, Manon et Romain utilisent 2fois par jour, la méthode de lecture Spritz et les quizz.</p>
    </div>
    <div class="grid-col-8 youtube-video">
      <video width="590" height="330" controls>
        <source src="lecture.mp4" type="video/mp4" />
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <!-- <iframe width="590" height="330" src="//www.youtube.com/embed/bQbiVW3vzmA" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>
</div>

<article class="fit-full color-scheme--grey">
  <article class="fit-fixed">
    <div class="grid-row stories">
      <div class="grid-col-12 grid-col--center grid-col--align-center padding-bottom--1">
        <h2>Témoignages de parents</h2>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col-4 grid-col--no--padding grid-col--no-margin">
        <div class="card card--link color-scheme--white">
          <div class="grid-row card__info">
            <span exclude="phone">
              <div class="avatar avatar--large">
                <%= image_tag 'http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG' %>
              </div>
            </span>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="avatar avatar--medium">
                <img alt="Laurent-Tournaud" src="http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG" />
              </div>
            </div>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="card__headings">
                <h5 class="text--ellipsis">Laurent Tournaud</h5>
                  <p class="story_card__sub__heading">
                    <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
                  </p>
              </div>
            </div>
            <div exclude="phone" class="card__headings">
              <h5>Laurent Tournaud</h5>
              <p class="story_card__sub__heading">
                <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
              </p>
            </div>
            <div class="grid-row card__text">
              <div class="grid-col-12">
                From a non-technical guy with an idea to building one the Time&#x27;s Top 50 sites of 2013, Sam Fellig&#x27;s story is nothing less than magical. But the founder of Outgrow.me says anyone can learn, as long as they stay positive. 
              </div>
            </div>
          </div>
          <a href="http://www.codecademy.com/fr/stories/99-how-to-outgrow-the-fear-of-starting" class="link--target"></a>
        </div>
      </div>
      <div class="grid-col-4 grid-col--no--padding grid-col--no-margin">
        <div class="card card--link color-scheme--white">
          <div class="grid-row card__info">
            <span exclude="phone">
              <div class="avatar avatar--large">
                <%= image_tag 'http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG' %>
              </div>
            </span>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="avatar avatar--medium">
                <img alt="Laurent-Tournaud" src="http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG" />
              </div>
            </div>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="card__headings">
                <h5 class="text--ellipsis">Laurent Tournaud</h5>
                  <p class="story_card__sub__heading">
                    <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
                  </p>
              </div>
            </div>
            <div exclude="phone" class="card__headings">
              <h5>Laurent Tournaud</h5>
              <p class="story_card__sub__heading">
                <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
              </p>
            </div>
            <div class="grid-row card__text">
              <div class="grid-col-12">
                From a non-technical guy with an idea to building one the Time&#x27;s Top 50 sites of 2013, Sam Fellig&#x27;s story is nothing less than magical. But the founder of Outgrow.me says anyone can learn, as long as they stay positive. 
              </div>
            </div>
          </div>
          <a href="http://www.codecademy.com/fr/stories/99-how-to-outgrow-the-fear-of-starting" class="link--target"></a>
        </div>
      </div>
      <div class="grid-col-4 grid-col--no--padding grid-col--no-margin">
        <div class="card card--link color-scheme--white">
          <div class="grid-row card__info">
            <span exclude="phone">
              <div class="avatar avatar--large">
                <%= image_tag 'http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG' %>
              </div>
            </span>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="avatar avatar--medium">
                <%= image_tag 'http://www.leseco.ma/images/stories/1747/LAURENT-TOURNAUD.JPG' %>
              </div>
            </div>
            <div exclude="desktop tablet" class="grid-col-4">
              <div class="card__headings">
                <h5 class="text--ellipsis">Laurent Tournaud</h5>
                  <p class="story_card__sub__heading">
                    <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
                  </p>
              </div>
            </div>
            <div exclude="phone" class="card__headings">
              <h5>Laurent Tournaud</h5>
              <p class="story_card__sub__heading">
                <span class="new-cc-icon color--secondary">marker</span> Casablanca, Maroc
              </p>
            </div>
            <div class="grid-row card__text">
              <div class="grid-col-12">
                From a non-technical guy with an idea to building one the Time&#x27;s Top 50 sites of 2013, Sam Fellig&#x27;s story is nothing less than magical. But the founder of Outgrow.me says anyone can learn, as long as they stay positive. 
              </div>
            </div>
          </div>
          <a href="http://www.codecademy.com/fr/stories/99-how-to-outgrow-the-fear-of-starting" class="link--target"></a>
        </div>
      </div>
  <hr>
  <div class="grid-row learners padding-bottom--1">
    <div class="grid-col-12 grid-col--center grid-col--align-center grid-col--no--padding">
      Rejoins plus de
      <h2>3,000</h2>
      dragonnneaux dans le monde
    </div>
  </div>
  </article>
</article>

</main>