<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="container" style="width: 90%; margin-top: 10%;">  
  <div id="books" class="transitions-enabled">
    <% Book.all.each do |book| %>
      <div class="box panel panel-default" style="margin: 5px;">
        <% if book.stories.count == 1 %>
          <%= link_to book.stories.first do %>
            <%= image_tag book.image.url(:medium) %>
          <% end %>
        <% else %>
          <%= link_to book do %>
            <%= image_tag book.image.url(:medium) %>
          <% end %>
        <% end %>
        <div class="panel-body">
          <% if current_user %>
            <p><%= "Gagne jusqu'à #{pluralize(words_in_book(book), "point")}!" %></p>
          <% else %>
            <p><%= "#{pluralize(words_in_book(book), "mot")}, #{pluralize(book.stories.count, "histoire")}" %></p>
          <% end %>

        </div>
        <div class="panel-footer landing">
          <p id="panel-footer-landing"><%= book.age_category.name %></p>
        </div>
      </div>
    <% end %>  
  </div>

  <div class="center">
    <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
  </div>
</div>