<div id="outerQuizContainer">
  <div id="innerQuizContainer">
      <div style="text-align:center;margin-top:19px">
    <div onClick="beginQuiz(this);" class="normalButton" style="padding:8px 20px 8px 20px; display:inline;">Commencer le Quizz</div>
    </div>
    
    <div id="totalScore">Score Total</div>
        
    <div id="questionPanel" style="display:none;">
      <div id="proceeding">Question</div>
      <div id="totalCorrectAnswers"></div>
      <div id="questionTitle">Question</div>
      <div id="optiona" onClick="selectAnswer(this,'a')" class="unselected">Option a</div>
      <div id="optionb" onClick="selectAnswer(this,'b')" class="unselected">Option b</div>
      <div id="optionc" onClick="selectAnswer(this,'c')" class="unselected">Option c</div>
      <div id="optiond" onClick="selectAnswer(this,'d')" class="unselected">Option d</div>
    </div>                     
    <div style="text-align:right;margin:30px 0px 10px 0px;">
      <div class="statusMessage"style="color:green" id="correctMessage">Hourra c'est correct !</div>
      <div class="statusMessage"style="color:#F72362" id="wrongMessage">Oops tu as mal répondu...</div>
      <div id="flipQuestion" class="normalButton" style="padding:3px 20px 3px 20px; display:none;">Prochaine Question</div>
    </div>
  </div>
</div>

 

