<script type="text/javascript" src="/assets/Quizz.js"></script>

<body onload="javascript:(function(){ cb = function(){ create_spritz(); }; var script=document.createElement('SCRIPT');script.src='/assets/OpenSpritz.js?callback=cb'; script.onload=cb; document.body.appendChild(script);})();">
<div class="row">
	<div class="col-md-offset-1 col-md-10 center" style="margin-top: 7%;">
    <%= "#{@story.book.title} - " if @story.book.title != @story.description %>
    <%= @story.description %>
    <div class="panel panel-default" >
        <ul id="myTab" class="nav nav-tabs">
          <li class="active">
            <a href="#dragon" data-toggle="tab">
              <%= "Lis comme un DRAGON!" %>
            </a>
          </li>
          <li>
            <a href="#human" data-toggle="tab">
              <%= "Lis comme un VIKING !" %>
            </a>
          </li>
        </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="dragon">
          <div class="panel-body" style="height: 1%;">
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag @story.image.url(:medium) %>
              </div>
              <div class="col-xs-8 padding-top--3">
                <div id="guide_top">
                  ――――――<span id="notch">&#1092;</span>――――――
                </div>
                <div id="spritz_result"></div>
                <div id="guide_bottom">―――――――――――――</div>
                <div id='def_div'></div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="grid-row padding-left--1 grid-row-no-collapse">
              <div class="grid-col-3 grid-col--no-padding screen-col">
                <i class="fa fa-pause" id="spritz_toggle"></i>
                <p style="margin-left: 25%;" id="spritz_length">Durée <span>5.6</span> min</p>
              </div>
              <div class="grid-col-6 grid-col--no-padding screen-col">
                <div id='drag_div'><input id='dragpadd' type="range" name="test" min="0" max="800" value="0" step='0.5'/></div>
              </div>
              <div class="grid-col-3 grid-col--no-padding screen-col">
                <% if @story.age_category.name == "6 - 8 ans" %>
                  <select id="spritz_selector">
                    <option value="0">Choisis une difficulté!</option>
                    <option value="25">Lente</option>
                    <option value="50">Normale</option>
                    <option value="75">Rapide</option>
                    <option value="100">Très rapide</option>
                  </select>
                <% elsif @story.age_category.name == "8 - 10 ans" %>
                  <select id="spritz_selector">
                    <option value="0">Difficulté</option>
                    <option value="50">Lente</option>
                    <option value="75">Normale</option>
                    <option value="100">Rapide</option>
                    <option value="125">Très rapide</option>
                  </select>
                <% else %>
                  <select id="spritz_selector">
                    <option value="0">Difficulté</option>
                    <option value="50">Lente</option>
                    <option value="75">Normale</option>
                    <option value="100">Rapide</option>
                    <option value="125">Très rapide</option>
                  </select>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="human">
          <div class="row">
              <div class="col-xs-4">
                <%= image_tag @story.image.url(:medium) %>
              </div>
              <div class="col-xs-8 padding-top--3">
                <div id="text_content" class="container-fluid"><p style="margin-right: 10%;"><%= @story.content %></p></div>            
              </div>
            </div>
          </div>   
        </div>
      </div>
  	<%= render 'quizz' %>
	</div>
</div>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src=<%= "https://spreadsheets.google.com/feeds/list/" + @story.key + "/od6/public/values?alt=json-in-script&callback=getReply"%>></script>
                                                  