<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field field--text">
    <%= f.email_field :email, :autofocus => true, class:"form-control", placeholder:"Email", required:"required", size:"30", tabindex:"1", type:"email_field" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="field field--text">
    <%= f.password_field :password, :autofocus => true, class:"form-control", placeholder:"Mot de passe", required:"required", size:"30", tabindex:"3", type:"password" %>
    <div class="field__status-icon"></div>
  </div>
  <div class="field field--checkbox">
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
    <div class="field__status-icon"></div>
  </div>
  <div class="grid-row">
    <%= f.submit "Sign in", class:"button button--fill-space button--large", value:"IDENTIFIANT" %>
    <div class="grid-col-12 grid-col--no-padding grid-col--extra-margin-bottom">
      <small>
        <%= link_to "Mot de passe oublié?", new_password_path(resource_name), class:"secondary" %>
      </small>
    </div>
  </div>
<% end %>