<main >
  <article class="fit-fixed">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="grid-row grid-row--no-collapse color-scheme--white" exclude="phone">
      <div class="grid-col-6">
        <h3>Identifiant</h3>
      </div>
      <div class="grid-col-6 grid-col--align-right">
        Vous n'avez pas de compte ? <a href="/users/sign_up" class="create-account secondary js-nav-sign-up">Créer un compte</a>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col-12 grid-col--no-margin grid-col--no-padding">
        <hr class="no-margin">
      </div>
    </div>

    <div class="grid-row color-scheme--white">
      <div class="grid-col-6">
        <h5>Login with:</h5>
        <div exclude="phone">
          <a href="/auth/facebook?locale=fr&amp;signin=true" class="button button--facebook button--blue button--large button--alternate button--fill-space button--oauth button--left-align button--with-icon " data-confirm="null" id="">
          <span class="new-cc-icon icon--">facebook</span>Facebook</a>
        </div>
        <div exclude="tablet desktop">
          <a href="/auth/facebook?locale=fr&amp;signin=true" class="button button--facebook button--blue button--large button--alternate button--icon-only button--oauth button--left-align button--with-icon " data-confirm="null" id=""><span class="new-cc-icon icon--">facebook</span></a>
        </div>
      </div>

      <div class="grid-col-6">
        <h5><span class="translation_missing" title="translation missing: fr.views.users.sessions.login_with_email">Login With Email</span>:</h5>
        <div id='flash_messages'></div>
        <%= render 'devise/sessions/new'%>
      </div>
    </div>
  </div>
</div>
</article>

</main>
