<main>
  <div class="color-scheme--lightgrey">
    <div class="fit-fixed grid-row">
      <div class="grid-col-12 margin-top--3 margin-bottom--3 grid-col--align-center">
        <h3 class="margin-bottom--2">Révise et gagne des points !</h3>
        <div class="grid-row">
          <div class="grid-col-4 grid-col--no-padding">
            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding  " >
              <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--no-margin card-header ">
                  <h1 class="margin-top--3">
                    <span class="cc-symbol icon--large">web</span>
                  </h1>
              </div>
              <div class="grid-col-12 grid-col--align-center">
                <h3 class="text--ellipsis">Dictionnaire</h3>
                  <p class="content-card__description">
                    Relis les mots les plus difficiles et apprends-en de nouveaux en faisant nos quizzs de la mort !
                  </p>
                <br>
                <%= "#{current_user.words.where("definition IS NOT NULL").count} mots difficiles" %>
                <div class="last-progress">
                    <small class="text--ellipsis">&nbsp;</small>
                </div>
              </div>
              <div class="grid-col-12 grid-col--align-center grid-col--no-margin grid-col--no-padding">
                <hr class="no-margin">
              </div>
              <a href="/mydifficultwords" class="link--target"></a>
            </article>
          </div>
          <div class="grid-col-4 grid-col--no-padding">
            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding  " >
              <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--no-margin card-header ">
                <h1 class="margin-top--3">
                  <span class="cc-symbol icon--large">apis</span>
                </h1>
              </div>
              <div class="grid-col-12 grid-col--align-center">
                <h3 class="text--ellipsis">Bescherelle</h3>
                <p class="content-card__description">
                  Conjugue tes verbes et gagne des points !
                </p>
                <br>
                <%= "#{current_user.words.where(grammar: :verb).count} verbes conjugués lus" %>
                <div class="last-progress">
                    <small class="text--ellipsis">&nbsp;</small>
                </div>
              </div>
              <div class="grid-col-12 grid-col--align-center grid-col--no-margin grid-col--no-padding">
                <hr class="no-margin">
              </div>
              <a href="/mybescherelle" class="link--target"></a>
            </article>
          </div>
          <div class="grid-col-4 grid-col--no-padding">
            <article class="card card--link grid-col-4 color-scheme--white grid-row grid-col--no-padding  " >
              <div class="grid-col-12 grid-col--align-center grid-col--no-padding grid-col--no-margin card-header ">
                <h1 class="margin-top--3">
                  <span class="cc-symbol icon--large">web</span>

                </h1>
              </div>
              <div class="grid-col-12 grid-col--align-center">
                <h3 class="text--ellipsis">Tous tes mots</h3>
                <p class="content-card__description">
                  Montre tous tes mots à tes parents ! Les adultes en connaissent 7,000 ! Et toi, combien en as-tu lus ici ?
                </p>
                <br>
                <%= "#{current_user.words.count} mots" %>
                <div class="last-progress">
                    <small class="text--ellipsis">&nbsp;</small>
                </div>
              </div>
              <div class="grid-col-12 grid-col--align-center grid-col--no-margin grid-col--no-padding">
                <hr class="no-margin">
              </div>
              <a href="/mywords" class="link--target"></a>
            </article>
          </div>          
        </div>
      </div>
    </div>
  </div>  
</main>