.unselected{
	-moz-box-shadow:inset 0px 1px 0px -50px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -50px #ffffff;
	box-shadow:inset 0px 1px 0px -50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;;
	border:1px solid #949494;
	display:block;
	color:#303030;
	font-size:16px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
    cursor:pointer;
	margin-bottom:10px;
	text-align:center
}.unselected:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #39D1B4), color-stop(1, #39D1B4) );
	background:-moz-linear-gradient( center top, #39D1B4 5%, #39D1B4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#125da3', endColorstr='#1b82d1');
	background-color:#39D1B4;
	border:1px solid #39D1B4;
	display:block;
	color:#ffffff;
}
.normalButton{
	-moz-box-shadow:inset 0px 1px 0px -50px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -50px #ffffff;
	box-shadow:inset 0px 1px 0px -50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #125da3), color-stop(1, #1b82d1) );
	background:-moz-linear-gradient( center top, #125da3 5%, #1b82d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#125da3', endColorstr='#1b82d1');
	background-color:#125da3;
	border:1px solid #145ba6;
	display:block;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
	text-align:center;
	margin-bottom:10px;
	cursor:pointer;
}

.wrongAnswer{
	-moz-box-shadow:inset 0px 1px 0px -50px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -50px #ffffff;
	box-shadow:inset 0px 1px 0px -50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F65A5B), color-stop(1, #F65A5B) );
	background:-moz-linear-gradient( center top, #F65A5B 5%, #F65A5B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F65A5B', endColorstr='#F65A5B');
	background-color:#F65A5B;
	border:1px solid #F65A5B;
	display:block;
	-moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-bottom:10px;
	cursor:pointer;
	text-align:center;
}

.correctAnswer{
	-moz-box-shadow:inset 0px 1px 0px -50px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -50px #ffffff;
	box-shadow:inset 0px 1px 0px -50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00B232), color-stop(1, #00B232) );
	background:-moz-linear-gradient( center top, #00B232 5%, #00B232 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B232', endColorstr='#00B232');
	background-color:#00B232;
	border:1px solid #00B232;
	display:block;
	-moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-bottom:10px;
	cursor:pointer;
	text-align:center;
}

.afterSelect {
	-moz-box-shadow:inset 0px 1px 0px -50px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -50px #ffffff;
	box-shadow:inset 0px 1px 0px -50px #ffffff;
	background-color:#e6e6e6;
	border:1px solid #adabad;
	display:block;
	color:#969696;
	-moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-bottom:10px;
	text-align:center;
	
}

.statusMessage{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	display:none;
}
#outerQuizContainer{
	margin-left:0px;
	margin-right:0px;
}
#innerQuizContainer{
	border:1px solid #D9D9D9;
	background-color:#F2F4F5;
	padding:5px 10px 5px 10px;
	border-radius:0px;
}
#totalScore{
	text-align:center;
	margin-top:19px;
	font-weight:bold;
	font-size:23px;
	display:none;
}
#proceeding, #totalCorrectAnswers{
	text-align:right;
	font-weight:bold;
}
#questionTitle{
	font-weight:bold;
	margin-bottom:15px;
	font-size:19px;
}