body{
    margin: 0px;
    overflow-y:scroll;

}

#spritz_holder{

    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999;
    /* 600px+; small tablet portrait */
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    min-height: 166px;
}

#spritz_spacer{
    width: 100%;
    /* 600px+; small tablet portrait */
    min-height: 210px;
}

#spritz_container{
    background-color: #ffffff;
    /* 600px+; small tablet portrait */
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    line-height: 43px;
}

#spritz_result{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 60px;
    font-size: 32px;
}

#guide_top, #guide_bottom{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #dddddd;
    /* 600px+; small tablet portrait */
    font-size: 32px;
}

#notch{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #dddddd;    
    /* 600px+; small tablet portrait */
    margin-top: 9px;
    padding-top: 12px;
    font-size: 32px;
}

#spritz_credits{
    float: right;
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    font-size: 13px;
}

#spritz_credits a{
    color: #dddddd;
    text-decoration: none;
}

#spritz_selector{
    float: right;
    width: auto;
}

#spritz_toggle{
    float: left;
    width: auto;
}

.invisible{
    font-family: 'Droid Sans Mono', sans-serif;
    color: #ffffff;
    position: static;
}

.start, .pivot, .end, .spritz_start, .spritz_pivot, .spritz_end{
    color: #333333;
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    font-size: 32px;
}
.pivot, .spritz_pivot{
    color: #de0000;
}

@media (max-width: 599px) {

    #spritz_holder{
        width: 320;
        padding-top: 4px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        min-height: 70px;
    }

    #spritz_spacer{
        min-height: 105px;
    }

    #spritz_container{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        line-height: 22px;
    }

    #spritz_result{
        min-height: 22px;
        font-size: 22px;
        padding-top: 11px;
        padding-bottom: 6px;
    }

    #guide_top, #guide_bottom{
        font-size: 22px;
    }

    #notch{
        margin-top: 6px;
        padding-top: 8px;
        font-size: 22px;
    }

    #spritz_credits{
        font-size: 10px;
    }

    .start, .pivot, .end, .spritz_start, .spritz_pivot, .spritz_end{
        font-size: 22px;
    }

}

.lutte {
    color: black;
}
/*.panel-body {
    min-height: 150px;
}*/


/* slider root element */
.slider {
    background:#ccc repeat-x 0 0;
    height:9px;
    position:relative;
    cursor:pointer;
    border:1px solid #ccc;
    width:100%;
    float:left;
    clear:right;
    margin-top:-10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#204056 repeat-x 0 0;
    height:9px;
    width:9px;
    top:0px;
    position:absolute;
    display:block;
    margin-top:0px;
    border:0px solid #fff;
    cursor:move;
    -moz-box-shadow:0 0 2px #000;
    -webkit-box-shadow:0 0 2px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.range {
    border:1px inset #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /* Dont display the box */
    display: none;
}

#drag_div{
    margin-top: 0px;
}

#def_div {
    margin-left: 0%;
}

/*HOVER OVERRIDES CAMELEON*/
.header__dynamic-width-col a:hover{
  background: #fff;
  opacity:0.8
}
.link--target:hover, .tab-pane .fade:hover,{
 background: #b9dc2f;
  color: #fff;
  opacity:0
}
#header__sign-up:hover, #header__logo__link:hover, .panel-default a:hover,#header__sign-in:hover, #header__menu-me:hover, .grid-col--align-right a:hover{
  background: #fff;
  color: #fff;
  opacity:0.8
}
.grid-col--no-padding a:hover{
  background: transparent;
  opacity:0.8;
  text-decoration: none
}
/*LANDING_PAGE*/
#footer{
}
/*MODAL*/
#modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  opacity:.0;
  z-index:400;
  overflow-y:scroll;
  -webkit-transform:scale(1.03);
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  -ms-transform:scale(1.03);
  -o-transform:scale(1.03);
  transform:scale(1.03);
  transition:all .1s ease-out;
  -webkit-transition:all .1s ease-out;
  -moz-transition:all .1s ease-out;
  z-index:-1
}
#modal[state="open"]{z-index:1000000000;opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
#modal .modal{position:relative;display:none}

/*DEVISE*/
#error_explanation{
  width: 100%;
}
.field_with_errors{
  width: 100%;
  background-color: #fff;
  border: solid red;
}

.tab-group--2 ul{
  list-style: none;
  list-style-type: none;
  color: red;
}

#myTab li {
  width: 50%;
  list-style-type: none;
  list-style: none;
  content: none;
}
#myTab li:before {
  list-style-type: none;
  list-style: none;
  content: none;
}

.panel-footer{
  height: 100%;
  padding: 0px;
  background-color: #fff;
}
.fa {
  color: #ccc;
}
#panel-footer-landing{
  margin-left: 7%;
}
#panel-body-story{
  height: 1%;
}