<footer id="footer" class="color-scheme--darkgrey">
  <div id="footer__main">
    <article class="fit-fixed">
      <div class="grid-row padding-top--half">
        <div class="grid-col-6">
        
          <p>Comprendre le monde au travers de la lecture.</p>

        </div>

        <div class="grid-col-6 grid-row grid-col--no-margin">
          <div class="grid-col-4 grid-col--no-padding">
            <h5><strong>Apprendre à lire</strong></h5>
            <div><a href="/fr/tracks/jquery-fr-FR">Découverte Anglais</a></div>
            <div><a href="/fr/tracks/python-fr-FR">L'actualité</a></div>
            <div><a href="/fr/tracks/web-fr-FR">3-6 ans</a></div>
            <div><a href="/fr/tracks/web-fr-FR">6-8 ans</a></div>
            <div><a href="/fr/tracks/javascript-fr-FR">8-11 ans</a></div>
          </div>
          <div class="grid-col-4 grid-col--no-padding">
            <h5><strong>Autres programmes</strong></h5>
            <div><a href="/stories">Apprendre à coder</a></div>
            <!--<div><a href="/fr/enterprise">Entreprise</a></div>-->
            <div><a href="/stories">Témoignages</a></div>
          </div>
          <div class="grid-col-4 grid-col--no-padding">
            <h5><strong>Suivez-nous</strong></h5>
            <div><a href="http://www.twitter.com/cameleo">Twitter</a></div>
            <div><a href="http://www.facebook.com/cameleo">Facebook</a></div>
            <div><a href="/fr/blog">Notre blog</a></div>
          </div>
        </div>
      </div>
    </article>
  </div>

  <article id="footer__legal">
    <div class="grid-row fit-fixed">
      <div class="grid-col-6 grid-col--no-margin margin-top--none margin-bottom--none">
        <div id="footer__legal__links">
          <small>
            <a href="/help">Aide</a>
            <a href="/policy">Politique de confidentialité</a>
            <a href="/terms">Modalités</a>
          </small>
        </div>
      </div>

      <div class="grid-col-6 grid-col--no-margin grid-row margin-top--none margin-bottom--none">
        <div class="grid-col-7 grid-col--no-spacing">
          <div id="footer__legal__copyright">
            <small>
              Fait à Genève &copy; 2014 Caméléon
            </small>
          </div>
        </div>
 
      </div>
    </article>
  </div>
</footer>

<script>
  $(function() {                 //run when the DOM is ready
    $('#menu_nico').click(function() {
      $('header#header+menu').removeClass('menu_nico');
    });
  });

  $(document).click(function (e) {
    e.stopPropagation();
    var container = $('#menu_nico');

    //check if the clicked area is dropDown or not
    if (container.has(e.target).length === 0) {
      $('header#header+menu').addClass('menu_nico');
    }
  })

</script>