<body>
  <header id="header">
    <article class="fit-fixed">
      <article class="fit-fixed" id="header__nav-container">
        <div id="header__nav" class="grid-col-12 grid-row grid-col--no-spacing">
          <div id="header__mobile-dropdown-button-container" class="grid-col-1 grid-col--no-padding grid-col--no-margin grid-col--float-right" exclude="desktop desktop-large">
            <a id="header__mobile-dropdown-button" class="js-toggle-profile-dropdown header__nav__link">
              <div class="header__nav__link__label">
                <h5>☰</h5>
              </div>
            </a>
          </div>

          <div class="grid-col-2 grid-col--float-right grid-col--no-spacing" exclude="tablet phone" id="menu_nico">
            <% if current_user %>
              <a id="header__menu-me" class="js-toggle-profile-dropdown header__nav__link">
                <div id="user-dropdown" class="header__nav__link__label">
                  <div class="avatar avatar--small">
                    <img alt="Write name of the login user" src="http://www.gravatar.com/avatar/63cc1cc1a81350eddddff25a41d564d9?d=retro&amp;s=140" />
                  </div>
                  <h5>Moi<span class="new-cc-icon">downarrow</span></h5>
                </div>
              </a>
            <% else %>
              <div class="grid-col-2 grid-col--float-right grid-col--no-padding grid-col--no-margin" exclude="phone">
                <a href="/users/sign_up" class="header__nav__link js-sign-up" id="header__sign-up">
                  <div class="header__nav__link__button">
                    <button class="button button--primary button--small button--all-caps button--fill-space" data-target="#registration-modal">
                     <span title="s'inscrire">Créer un compte</span>
                   </button>
                  </div>
                </a>         
              </div>
            <% end %>
          </div>

          <% if current_user %>
            <div class="header__dynamic-width-col" exclude="tablet phone">
              <a href="/dashboard" class="header__nav__link">
                <div id="user-stats">
                  <div class="user-stat">
                      <strong><%= words_today(current_user).count %></strong> nouveaux mots aujourd'hui
                  </div>
                  <div class="user-stat">
                    série de <strong><%= daily_activity(current_user) %></strong> jours
                  </div>
                </div>
              </a>            
            </div>
            <div class="header__dynamic-width-col" exclude="phone">
              <a href="/books" class="header__nav__link">
                <h5 class="header__nav__link__label">Lire</h5>
              </a>          
            </div>
          <% else %>
            <div class="grid-col-2 grid-col--float-right grid-col--no-padding grid-col--no-margin" exclude="phone">
                <a href="/users/sign_in" class="header__nav__link js-sign-in" id="header__sign-in">
                  <div class="header__nav__link__button">
                    <button class="button button--white button--small button--all-caps button--fill-space">
                      S'IDENTIFIER
                    </button>
                  </div>
                </a>          
              </div>
              <div class="grid-col-2 grid-col--float-right grid-col--no-padding grid-col--no-margin" exclude="phone">
                <a href="/books" class="header__nav__link js-sign-in" id="header__sign-in">
                  <div class="header__nav__link__button">
                    <button class="button button--white button--small button--all-caps button--fill-space">
                      NOS LIVRES
                    </button>
                  </div>
                </a>          
              </div>
          <% end %>

        <div id="header__logo">
          <% if current_user %>
            <a href="/books" id="header__logo__link">
          <% else %>
            <a href="/" id="header__logo__link">
          <% end %>
            <img alt="Caméléon" class="logo__image--full no-rescale" src="/images/logoCameleo.jpg" />
          </a>
        </div>
      </article>
    </article>
    <div id="notices" exclude="phone"></div>
  </header>



  <% if current_user %>
    <menu id="me" class="js-profile-dropdown menu_nico">
      <article class="fit-fixed">
        <div class="grid-row">
          <div class="grid-col-4 grid-col--float-right
                      grid-col--no-margin grid-col--no-padding
                      panel color-scheme--darkgrey">
            <a href="/books" class="no-underline" exclude="tablet desktop desktop-large">
              <li class="panel__item">
                <h5>Apprendre</h5>
              </li>
            </a>
            <a href="/dashboard" class="no-underline">
              <li class="panel__item">
                <h5>Mon profil</h5>
              </li>
            </a>
            <a href="<%= '/users/#{current_user.id/edit' %>" class="no-underline">
              <li class="panel__item">
                <h5>Paramètres du compte</h5>
              </li>
            </a>
            <a href="/users/sign_out" data-method="delete" class="no-underline">
              <li class="panel__item">
                <h5>Déconnexion</h5>
              </li>
            </a>     
          </div>
        </div>
      </article>
    </menu>
  <% end %>

  </body>
</html>
