<!DOCTYPE html>
<html>
<head>
  <title>Caméléo</title>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
  <meta name='description' content='Caméléon est la meilleure façon d&#x27;apprendre à lire. C&#x27;est interactif, amusant et vous pouvez le faire avec vos enfants.' />
  <meta name='keywords' content='caméléon,lecture,quizz,' />
  <meta property="og:site_name" content="Caméléon"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="Caméléon est la meilleure façon d&#x27;apprendre à lire. C&#x27;est interactif, amusant et vous pouvez le faire avec vos amis."/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/OpenSpritz.js"></script>

  <%= favicon_link_tag 'favicon.jpg' %>
  <link href="/assets/cameleon.css" media="screen" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="/assets/quizz.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header'%>

	<div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>
<%= render 'layouts/footer'%>

</body>
</html>
